<launch>

  <!-- Launch environment ex1 -->
  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <arg name="laser_enabled" value="True"/>
  </include>

  <!-- Launch highlevel controller ex2 -->
  <node pkg="smb_highlevel_controller" type="smb_highlevel_controller" name="smb_highlevel_controller" output="screen">
    <rosparam command="load" file="$(find smb_highlevel_controller)/config/param_config.yaml" />
  </node>

  <!-- Sensor visualization -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find smb_highlevel_controller)/config/rvizconfig.rviz" />

</launch>